@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?dwgv5q');
  src:  url('../fonts/icomoon/icomoon.eot?dwgv5q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?dwgv5q') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?dwgv5q') format('woff'),
    url('../fonts/icomoon/icomoon.svg?dwgv5q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hexagon:before {
  content: "\e925";
  color: #fff;
}
.icon-icon-1:before {
  content: "\e900";
}
.icon-icon-2:before {
  content: "\e901";
}
.icon-icon-3:before {
  content: "\e902";
}
.icon-icon-4:before {
  content: "\e903";
}
.icon-icon-5 .path1:before {
  content: "\e904";
  color: rgb(224, 105, 95);
}
.icon-icon-5 .path2:before {
  content: "\e905";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-5 .path3:before {
  content: "\e906";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-5 .path4:before {
  content: "\e907";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-5 .path5:before {
  content: "\e90d";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-5 .path6:before {
  content: "\e90e";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-5 .path7:before {
  content: "\e90f";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-6 .path1:before {
  content: "\e910";
  color: rgb(224, 105, 95);
}
.icon-icon-6 .path2:before {
  content: "\e911";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-6 .path3:before {
  content: "\e912";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-6 .path4:before {
  content: "\e913";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-6 .path5:before {
  content: "\e914";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-7 .path1:before {
  content: "\e915";
  color: rgb(224, 105, 95);
}
.icon-icon-7 .path2:before {
  content: "\e916";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-7 .path3:before {
  content: "\e917";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-7 .path4:before {
  content: "\e918";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-7 .path5:before {
  content: "\e919";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-7 .path6:before {
  content: "\e91a";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-8 .path1:before {
  content: "\e91b";
  color: rgb(224, 105, 95);
}
.icon-icon-8 .path2:before {
  content: "\e91c";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-9 .path1:before {
  content: "\e91d";
  color: rgb(224, 105, 95);
}
.icon-icon-9 .path2:before {
  content: "\e91e";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-9 .path3:before {
  content: "\e91f";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-9 .path4:before {
  content: "\e920";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-9 .path5:before {
  content: "\e921";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-9 .path6:before {
  content: "\e922";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-9 .path7:before {
  content: "\e923";
  margin-left: -1.154296875em;
  color: rgb(255, 255, 255);
}
.icon-icon-10:before {
  content: "\e924";
}
.icon-mail:before {
  content: "\e926";
}
.icon-phone:before {
  content: "\e927";
}
.icon-map:before {
  content: "\e90c";
}
.icon-chung-nhan:before {
  content: "\e909";
}
.icon-giai-thuong:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e908";
}
