body  { 
	color: $colorBody; 
	background-color: #fff; 
	font-size: $base_size; 
	line-height: 28px;
	font-family: $fontPrimary; 
}
@mixin overflow{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
#wrapper{
	position: relative;
}
.overflow-1{
	@include overflow;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	height: 30px;
}
.overflow-2{
	@include overflow;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 53px;
}
.overflow-3{
	@include overflow;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	height: 83px;
}
.bg-input{
  	background-color: #ddd;
}
#datepicker{
	background-image: url(../images/svg/calendar.svg);
  	background-position: 95% 50%;
  	background-size: 18px;
  	background-repeat: no-repeat;
}
.section-header{
	text-align: center;
	.section-title{
		color: $colorThirdary;
		text-transform: uppercase;
		font-size: 30px;
	}
	span{
	    font-size: 16px;
	    line-height: 27px;
	    max-width: 800px;
	    display: block;
	    margin: auto;

	}
}

.bg-gray{
	background-color: #F7F7F7;
} 

.welcome {
  	background-image: url("../images/welcome.jpg");
  	background-attachment: fixed;
    background-position: center;
    background-size: cover;
  	height: 100%; 
  	.greeting-content{
	    width: 960px;
	    margin: 0 auto;
	    text-align: center;
	    position: absolute;
	    top: 50%;
	    left: 0;
    	transform: translateY(-50%) translateX(-10%);
  	}
  	span{
  		font-weight: 300;
  		font-size: 30px;
  		color: #9B9B9B;
	    margin-bottom: 15px;
    	display: block;
  	}
  	h2{
  		text-transform: uppercase;
  		color: $colorPrimary;
  	}
}


.block-breadcrumb{
	margin: 0;
	li{
		display: inline-block;
		a{
			font-size: 14px;
			color: #66554E;
			&:after{
				content: '|';
				display: inline-block;
				padding: 0 10px;
			}
		}
		&:last-child{
			a{
				&:after{
					display: none;
				}
			}
		}
	}
}
.block-navigation{
	li{
		display: inline-block;
		a{
			display: block;
		    height: 35px;
		    width: 35px;
		    border: 2px solid transparent;
		    text-align: center;
		    border-radius: 50%;
		    line-height: 33px;
		    @include transition(.1s);
		    .active,
		    &:hover,
		    &:focus{
		    	border: 2px solid $colorPrimary;
		    	color: $colorPrimary;
		    }

		}
		&.active{
			a{
				border: 2px solid $colorPrimary;
		    	color: $colorPrimary;
		    	@include transition(.1s);
			}
			
		}
	}
}
.titlemain{
	color: $colorThirdary;
	text-transform: uppercase;
	font-size: 30px;
}
.title-big{
	background-color: $colorThirdary;
	padding: 30px 0;
	color: #fff;
	font-size: 30px;
    text-align: center;
}
.block-contact{
	ul{
		li{
			color: $colorThirdary;
			font-size: 16px;
			font-weight: 300;	
			margin-bottom: 15px;
			&:before{
			    content: '';
			    height: 30px;
			    width: 30px;
			    display: inline-block;
			    vertical-align: middle;
			    background-position: center;
			    background-size: inherit;
			    background-repeat: no-repeat;
		        margin-right: 10px;
			}
			
			&:nth-child(1){
				&:before{
					background-image: url(../images/svg/hotline.svg);
				}
			}
			&:nth-child(2){
				&:before{
					background-image: url(../images/svg/mail.svg);
				}
			}
			&:nth-child(3){
				&:before{
					background-image: url(../images/svg/web.svg);
				}
			}
			&:nth-child(4){
				&:before{
					background-image: url(../images/svg/iconfacebook.svg);
				}
			}
		}
	}
	.btn{
	    margin-top: 42px;
	}
	.section-header{
		margin-bottom: 30px;
		text-align: left;
		span{
			color: #9B9B9B;
    		text-align: left;
		}
	}
}
.block-social{
    margin-bottom: 30px;
	ul{	
		text-align: center;
		&:before{
			content:'';
			height: 1px;
			width: 100%;
			display: inline-block;
			background-color: #ddd;
		    position: relative;
		    top: 20px;
		    left: 0;
		    z-index: 1;
		}
		li{
			display: inline-block;
			a{
				height: 40px;
				width: 40px;
				border: 2px solid $colorThirdary;
				border-radius: 50%;
				display: inline-block;
			    text-align: center;
			    line-height: 40px;
			    font-size: 22px;
		        background-color: #fff;
				margin: 0 7px;
			    position: relative;
				z-index: 1;
				@include transition(0.2s); 
			    i{
			    	line-height: 40px;
			    }
			    &:hover{
			    	border: 2px solid $colorPrimary;
			    	@include transition(0.2s); 
			    }
			}
		}
	}
}
/* page home */
.home-connect{
    padding: 100px 0;
	.item{
		min-height: 300px;
		background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	}
	.btn{
		margin-top: 40px;
	}
	.section-header{
	    margin-bottom: 40px;
	}
}
.home-partner{
    padding: 100px 0;
    position: relative;
    &:before{
	    content: '';
	    background-image: url(../images/06.png);
	    display: block;
	    height: 250px;
	    width: 12%;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    position: absolute;
	    top: -35%;
	    left: 0;
    }
    .item{
    	padding: 0 20px;
    }
}
.TAM001{
    padding: 80px 0;
	background: radial-gradient(circle, #F9FCF7 0%, #E8F1E5 100%);
	background: -webkit-radial-gradient(circle, #F9FCF7 0%, #E8F1E5 100%);
	background: -moz-radial-gradient(circle, #F9FCF7 0%, #E8F1E5 100%);
	.section-header{
		margin-bottom: 40px;
		.section-title{
		    margin-bottom: 5px;
		}
	}
}

#home_blog {
	&:after{
		content: '';
		background-image: url(../images/bg-blog.png);
		display: block;
		height: 275px;
		width: 200px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: -35%;
		right: 0;
		z-index: -1;
	}
}
.home-blog{
	position: relative;
	.item{
		@include transition(0.2s); 
		.thumb{
			position: relative;
			&:after{
				content: '';
				background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.7) 100%); /* For Safari 5.1 to 6.0 */
			    background: -o-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.7) 100%); /* For Opera 11.1 to 12.0 */
			    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.7) 100%); /* For Firefox 3.6 to 15 */
			    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.7) 100%); /* Standard syntax (must be last) */
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    display: block;
			    height: 80%;
			    width: 100%;
			}
		    
			.overflow{
				position: absolute;
				left: 25px;
				right: 25px;
				bottom: 25px;
			    z-index: 1;
				.meta{
				    padding-bottom: 8px;
					color: #fff;
					font-size: 14px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.62);
					span{
						display: inline-block;
					    padding-right: 13px;
					}
				}
			}
			.title{
			    font-size: 18px;
    			color: #fff;
			    margin: 10px 0 0;
		        line-height: 25px;
	            overflow: hidden;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 2;
			    min-height: 50px;

			}
		}
		.info{
			padding: 25px;
			p{
				overflow: hidden;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 3;
			    min-height: 85px;
			    margin-bottom: 30px;
			}
		}
		&:hover{
			@include transition(0.2s); 
			background-color: #F7F7F7;
    		box-shadow: 1px 4px 6px 0px rgba(159, 159, 159, 0.45);
			-webkit-box-shadow: 1px 4px 6px 0px rgba(159, 159, 159, 0.45);
			-moz-box-shadow: 1px 4px 6px 0px rgba(159, 159, 159, 0.45);
		}

	}
	.section-header{
	    margin-bottom: 40px;
	}
}

.TAM002{
    padding: 80px 0;
  
	.item{
		width: 80%;
		margin: auto;
		.info{
			.name{
				font-size: 20px;
				color: $colorThirdary;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			span{
				font-size: 18px;
				color: $colorPrimary;
				margin-bottom: 30px;
				display: block;
			}
			p{
				color: #353535;
			    font-weight: 300;
			    line-height: 27px;
			}
		}
	}
	.owl-carousel{
		.owl-item{
			img{
				width: auto;
			}

		}
		.owl-dots{
		    position: relative;
		    bottom: 30px;
		    left: -45px;
		}
	}
}
.bg-left{
	position: relative;
	&:before{
	    content: '';
	    background-image: url(../images/sen.png);
	    background-repeat: no-repeat;
	    background-position: left bottom;
	    background-size: contain;
	    position: absolute;
	    bottom: 0;
	    width: 500px;
	    height: 500px;
	}
}
.TAM003{
    background-color: #F7F7F7;
	position: relative;
    padding: 100px 0;
	#sync1{
	    margin-top: 50px;
		.block{
			&-item{
				border-radius: 25px;
				margin-bottom: 30px;
				position: relative;
			    min-height: 280px;
			    display: table;
				.name{
					padding: 10px;
				    text-align: center;
				    color: #fff;
				    background-color: rgba(17, 17, 17, 0.53);
				    border-bottom-left-radius: 25px;
				    border-bottom-right-radius: 25px;
			        font-size: 18px;
    				text-transform: uppercase;
				    position: absolute;
				    bottom: 0;
				    width: 100%;
				    left: 0;
				   
				}
				.overflow{
					display: table-cell;
				    vertical-align: middle;
				    border-radius: 25px;
				    background-color: rgba(17, 17, 17, 0.53);
				    padding: 25px;
				    opacity: 0;
					
				    .title{
		    		    font-size: 18px;
					    text-transform: uppercase;
					    color: #fff;
					    text-align: center;
			    	}
			    	p{
		    		    font-size: 16px;
					    color: #fff;
					    line-height: 27px;
			    	}
				}
				&:hover{
					.name{
						visibility: hidden;
						
					}
					.overflow{
						opacity: 1;
					    transition: all .4s ease-out;
    					-webkit-transition: all .4s ease-out;
						
					}
				}
			}
		}
	}
	#sync2{
		position: relative;
		.owl-stage-outer{
			margin-right: 0;
		}
		&:after{
			content: '';
			height: 1px ;
			width: 100%;
			display: block;
			background-color: $colorLine;
			position: absolute;
		    bottom: 1px;
		    left: 0;
		}
		.item{
		    margin-right: 0;
			font-size: 20px;
			color: #9B9B9B;
			text-transform: uppercase;
			text-align: center;
	    	padding: 5px 0;
		}
		.owl-nav{
			display: none;
		}
		.owl-item{
			&.current{
				.item{
					color: $colorPrimary;
				}
				
			}
		} 
	}
	.add-icon{
		.owl-stage-outer{
			margin-right: 115px !important;
		}
		&:after{
			content: '';
			height: 1px ;
			width: 90% !important;
			display: block;
			background-color: $colorLine;
		}
		.item{
			margin-right: 115px !important;
		}
		.owl-nav{
			display: block !important;
		}
	}
	@media (max-width: 480px){
		#sync2{
			.owl-stage-outer{
				margin-right: 115px !important;
			}
			&:after{
				display: none;
				content: '';
				height: 1px ;
				width: 68% !important;
				background-color: $colorLine;
			}
			.item{
				margin-right: 115px !important;
			}
			.owl-nav{
				display: block !important;
			}
		}
	}
	.owl-carousel{
		.owl-nav{
			>div{
			    width: 40px;
				height: 40px;
				&.owl-prev{
				    left: initial;
    				right: 50px;
				}
				i{
				    border: 1px solid #b6b6b6;
    				border-radius: 50%;
				    background-size: 30%;
				}
			}
		}
		
		.owl-item{
			&.active{
				&.current{
					.item{
						border-bottom: 3px solid $colorPrimary;
					}
				}
				
			}
		}
	}
}

.TAM004{
    padding: 100px 0 0;
    position: relative;
    &:after{
	    content: '';
	    background-image: url(../images/bg-004.png);
	    display: block;
	    height: 400px;
		width: 14%;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    position: absolute;
	    top: -22%;
	    right: 0;
	    z-index: 1;
    }
	.block-text{
	    padding-left: 100px;
	    height: 376px;
		.section-header{
			text-align: left;
		}

	}
	.display-table{
		height: auto;
	}
}
.block-video{
		position: relative;
	    padding-bottom: 32%;
	    max-width: 550px;
	    height: 0;
	    overflow: hidden;
	    display: block;
	    box-shadow: 0 2px 8px rgba(189, 189, 189, 0.52);
	    border-radius: 25px;
	    .play-video{
			position: absolute;
			background-color: rgba(69, 69, 69, 0.58);
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    border-radius: 5px;
		    z-index: 1;
		    span{
		    	display: block;
			    height: 80px;
			    background-color: #fff ;
			    width: 80px;
			    border-radius: 50%;
			    text-align: center;
			    transform: translateY(-50%) translateX(-50%);
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    i{
			    	line-height: 80px;
			    	color: #aa1e1e;
					font-size: 28px;
			    }
		    }
	    }
	    iframe{
			border-radius: 5px;
		    height: 100%;
		    width: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		}
		&-right{
			float: right;
		}
	}
.bg-flower-left{
	position: relative;
	&:before{
		content: '';
	    background-image: url(../images/06.png);
	    display: block;
	    height: 300px;
	    width: 200px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 100%;
	    position: absolute;
	    top: -10%;
	    left: 0;
	    z-index: 1;
        opacity: 0.1;
	}
	&-top{
		
		&:before{
			top: -2% ;
		}
	}
}
.bg-flower-right{
	position: relative;
	&:after{
	    content: '';
	    background-image: url(../images/Group.png);
	    display: block;
	    height: 270px;
	    width: 300px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    position: absolute;
	    bottom: -8%;
	    right: 0;
	    z-index: 1;
	}
}

.home-service{
    position: relative;
    padding: 50px 0;
	&:after{
		content: '';
	    background-image: url(../images/dichvu.png);
	    display: block;
	    height: 325px;
	    width: 18%;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 100%;
	    position: absolute;
	    top: -17%;
	    right: 0;
	    z-index: 1;
	}
	
	.section-header{
		margin-bottom: 35px;
	}
	.photo{
		.item{
			overflow: hidden;
			margin-bottom: 30px;
			width: auto;
		    position: relative;
		    cursor: pointer;
			&_img{
				border-radius: 20px;
				img{
					border-radius: 20px;
				}
				.img-after{
					position: absolute;
				    top: 0;
				    left: 0;
				    opacity: 0;
			        width: 100%;
    				height: 100%;
				}
			}
			&_title{
		    	padding: 10px;
			    text-align: center;
			    color: #fff;
			    background-color: rgba(17, 17, 17, 0.53);
			    border-bottom-left-radius: 20px;
			    border-bottom-right-radius: 25px;
			    font-size: 20px;
			    text-transform: uppercase;
			    position: absolute;
			    bottom: 0;
			    width: 100%;
			    left: 0;
		        z-index: 1;
			}
			.overflow{
				opacity: 0;
				position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;
			    text-align: center;
			    background-color: rgba(17, 17, 17, 0.65);
				border-radius: 20px;
			    i{
		    	    transform: translateY(-50%) translateX(-50%);
				    position: absolute;
				    top: 50%; 
				    left: 50%;
			        font-size: 40px;
    				color: #fff;
			    }
			}
			&:hover{
				
				.item_title{
					background-color: transparent;
				}
				.img-after{
				    opacity: 1;
				}
				.overflow{
					transition: all .4s ease-out;
					-webkit-transition: all .4s ease-out;
					opacity: 1;
				}
			}
		}
	}
	.content{
		background: -webkit-linear-gradient(left top, #fcfdfb, #E8F1E5); /* For Safari 5.1 to 6.0 */
    	background: -o-linear-gradient(bottom right, #fcfdfb, #E8F1E5); /* For Opera 11.1 to 12.0 */
    	background: -moz-linear-gradient(bottom right, #fcfdfb, #E8F1E5); /* For Firefox 3.6 to 15 */
    	background: linear-gradient(to bottom right, #fcfdfb, #E8F1E5); 
		box-shadow: 0 2px 4px 0 rgba(164,164,164,0.5);
	    border-radius: 8px;
    	padding: 50px 100px 30px;
        clear: both;
   		margin: auto 15px 30px;
   		position: relative;
   		&:before{
		    content: '';
		    display: block;
		    border-bottom: 17px solid #fbfcfa;
		    border-top: 17px solid transparent;
		    border-left: 17px solid transparent;
		    border-right: 17px solid transparent;
		    position: absolute;
		    top: -34px;
   		}	
    	.item{
    		text-align: center;
		    padding: 0 30px;
    		span{
    			color: $colorThirdary;
    			font-size: 18px;
    			display: block;
    			margin: 15px 0;
    		}
    		.btn{
    			display: block;
				background-color: #fff;
				&:hover{
					background-color: $colorPrimary;
				}
    		}
    	}
    	.text{
    		margin-bottom: 30px;
    	}
    	.owl-item{
    		position: relative;
    		
    	}
	}
}
#google_photo{
    .photo{
    	cursor: pointer;
    	clear: none;
    }
}

.TAM005{
    padding: 50px 0;
	.slide-one{
		.thumb{
			width: 100%;
			display: block;
			border-bottom: 1px solid #99AAA0;
			img{
				width: auto;
				margin: auto;
			}
			
		}
		.info{
			.name{
				font-size: 20px;
				color: $colorThirdary;
				text-align: center;
			    margin: 15px 0 10px;
			}
		}
	}
}

#ss-map {
    position: relative;
    height: 500px;
    margin-bottom: 20px;
    .map_list {
	    max-width: 50%;
	    padding-right: 50px;
	}
	.map-list-store {
	    height: 420px;
	    overflow: auto;
	    margin: 0;
	    padding: 0;
	    li{
		    border-top: 1px dashed #ddd;
		    padding: 15px 0 15px 10px;
	    }
	    li:before {
	        content: "";
		    height: 25px;
		    width: 18px;
		    background-image: url(../images/svg/map-icon.svg);
		    background-repeat: no-repeat;
		    background-size: contain;
		    background-position: center;
		    vertical-align: middle;
		    margin-top: 5px;
		}
	    a {
		    display: block;
	        margin-left: 25px;
		}
		.name {
		    display: block;
		    text-transform: none;
		    margin-bottom: 2px;
		    color: #4A4A4A;
		    font-size: 20px;
		    float: left;
		    width: 70%;
		}
		.title{
			font-size: 18px;
		}
		.help{
			float: right;
		    text-transform: uppercase;
		    font-size: 16px;
		    border: 1px solid;
		    padding: 2px 15px;
		    color: $colorThirdary;
		    border-radius: 25px;
			width: 30%;	
			text-align: center;
		}
		.address {
		    display: block;
		    margin-bottom: 2px;
		    color: #4A4A4A;
		}
		.phone {
		    display: block;
		    margin-bottom: 2px;
		    color: #4A4A4A;
		}
	}
	.wrap-map {
	    position: absolute;
	    left: 50%;
	    top: 0;
	    right: 0;
	}
}
#ss-map0{
	margin: 30px 0;
	.item{
		float: left;
		margin: 0 10px;
		
		.btn{
			padding: 6px 25px;
			outline: none;
			i{
				font-size: 18px;
			}
		}
	}

}
.form-contact{
    padding-bottom: 30px;
	.block-social{
	    margin-top: 30px;
		ul{
			border-bottom: 2px dashed #d5d5d5;
    		border-top: 2px dashed #d5d5d5;
    		text-align: left;
		    padding: 18px 0;
    		&:before{
    			display: none;
    		}
		}
	}
	.hotline{
		font-size: 35px;
		color: $colorThirdary;
	    font-weight: bold;
		&:before{
			content: '';
			height: 35px;
			width: 35px;
			display: inline-block;
			background-image: url(../images/svg/icon-phone.svg);
			background-repeat: no-repeat;
    		background-size: contain;
    		vertical-align: middle;
		    margin-right: 10px;
		}
	}
	.tab-form{
		.nav{
			li{
				width: 50%;
				float: left;
				a{
				    font-size: 20px;
				    text-transform: uppercase;
				    text-align: center;
				    color: $colorPrimary;
				    border-bottom: 2px solid transparent;
				    &:focus,
				    &:hover{
				    	background-color: transparent;
				    }
				}		
				&.active{
					a{
						border-bottom: 2px solid $colorPrimary;	
						&:hover{
							border-bottom: 2px solid $colorPrimary;	
						}
					}
				}
			}
		}
		form{
			input,
			select,
			textarea{
				width: 100%;
			    margin-bottom: 20px;
			}
			.btn{
				float: right;
    			padding: 10px 80px;
			}
		}
		.tab-content{
			background-color: #F7F7F7;
		    padding: 40px 70px;
		    border-bottom-left-radius: 25px;
    		border-bottom-right-radius: 25px;
		}
	}
}

#page-404{
	text-align: center;
	.inner{
		min-height: calc(100vh - 70px);
	    position: relative;
	    padding: 100px 15px;
	    text-align: center;
	    vertical-align: middle;
	}
	p{
	    font-size: 30px;
	    color: #9B9B9B;
	    text-transform: uppercase;
	    font-weight: 300;
	    margin-top: 25px;
	    line-height: 38px;
	}
	.btn{
	    font-size: 16px;
	    background-color: $colorPrimary;
	}
	img{
		width: 50%;

	}
}

.table-price{
    padding: 0 0 100px;
	.list-price{
		.title{
			text-transform: uppercase;
			color: $colorThirdary;
			font-size: 18px;
			background-color: $colorPrimary;
		    padding: 25px;
		    text-align: center;
		    border-top-left-radius: 25px;
		    border-top-right-radius: 25px;
		    background-image: url(../images/svg/hoa-tiet-logo.svg);
	        background-position: left;
    		background-repeat: no-repeat;
		}
		.nav{
			background: -webkit-linear-gradient(left top, #fff, #E8F1E5);
    		background: -o-linear-gradient(bottom right, #fff, #E8F1E5);
    		background: -moz-linear-gradient(bottom right, #fff, #E8F1E5);
    		background: linear-gradient(to bottom right, #fff, #E8F1E5);
    		border-bottom-right-radius: 25px;
    		border-bottom-left-radius: 25px;
		    padding: 15px 0;
			li{
				width: calc(100% / 4);
				float: left;
				a{
					text-align: center;
					font-size: 18px;
					&:focus,
					&:hover{
						background-color: transparent;
					}
				}
			}
		}
		.tab-content{
		    padding: 50px 20px 20px;
			.item{
				font-size: 18px;
			    margin-bottom: 30px;
				.info-left{
					float: left;
					span{
						&:nth-child(2){
						    width: 60px;
						    display: inline-block;
						    border-bottom: 2px dotted #979797;
						}
						&:nth-child(3){
						    font-size: 20px;
						}
					}	
						
				}
				.btn{
					float: right;
					&:hover{
						background-color: $colorThirdary;
						color: #fff;
						border-color: $colorThirdary;
					}
				}
			}
		}

	}
	.block-navigation{
	    padding: 0 35px;
	}
}

#tab-member{
	margin-bottom: 50px;
	li{
		a{
			background-color: #F7F7F7;
			border-bottom: 1px solid #cccccc;
		    padding: 20px 45px;
    		display: block;
    		@include transition(.2s);
			span{
				font-size: 14px;
				font-weight: 300;
				text-transform: uppercase;
				color: $colorThirdary;
				display: block;
				border-bottom: 1px dashed $colorThirdary;
				padding-bottom: 5px;
			}
			
			.title{
				color: $colorPrimary;
			    font-size: 25px;
    			font-weight: 500;
    			margin-top: 10px;
    			margin-bottom: 0;
			}

			&:hover{
				@include transition(.2s);
				background-color: $colorPrimary;
				span{
					color: #fff;
					border-bottom: 1px dashed #fff;
				}
				.title{
					color: #fff;
				}
				&:after{
					visibility: visible;
				}
			}
			&:after{
				content: '';
			    border-bottom: 12px solid transparent;
			    border-top: 12px solid transparent;
			    border-left: 12px solid #89b263;
			    border-right: 12px solid transparent;
			    position: absolute;
			    right: -24px;
			    top: 50%;
			    visibility: hidden;
		        transform: translateY(-50%);
			}
		}
		&:last-child{
			a{
				border-bottom: 0;
			}
		}
		&.active{
			a{
				@include transition(.2s);
				background-color: $colorPrimary;
				span{
					color: #fff;
					border-bottom: 1px dashed #fff;
				}
				.title{
					color: #fff;
				}
				&:after{
					visibility: visible;
				}
			}
		}
	}
	.nav{
		width: 30%;
		float: left;
	}
	.tab-content{
		width: 70%;
		float: left;
		padding: 100px;
    	background: radial-gradient(circle, #F9FCF7 0%, #E8F1E5 100%);
	}
	.slide-one{
		.owl-item{
			.text{
				overflow: hidden;
		    	position: relative;
			}
			
		}
	}
}
.form-member{ 
	padding: 50px 0 80px;
	position: relative; 
	&:before{
	    content: '';
	    background-image: url(../images/homepage-image_800x.png);
	    display: block;
	    height: 300px;
	    width: 275px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    position: absolute;
	    bottom: -100px;
	    left: 0;
	    z-index: -1;
	}  
	.section-header{
	    margin-bottom: 30px;
	}
	.btn{
	    width: 30%;
    	font-size: 16px;
    	padding: 8px 20px;
	    margin-top: 20px;
	}
}


.TAM006{
    padding: 100px 0;
    &.bg-flower-right{
		&:after{
			background-image: url(../images/sen-da-3.png);
		    height: 355px;
    		width: 385px;
    		bottom: 50%;
		}
	}
    .section-header{
    	margin-bottom: 40px;
    	text-align: left;
    }
	.item{
		text-align: center;
    	border: 1px dashed $colorThirdary;
    	border-radius: 25px;
	    padding: 80px 30px;
	    background-color: #fff;
		@include transition(.2s);
		&:hover{
			background: radial-gradient(circle, #F9FCF7 0%, #E8F1E5 100%); 
			.btn{
				color: #fff;
				background-color: $colorPrimary;
				border-color: $colorPrimary;
			}
		}
	}
}


.TAM007{
	padding: 100px 0;
	position: relative;
	background-image: url(../images/bg-bran.jpg);
    background-attachment: fixed;
	&:before{
		content: '';
		background-color: rgba(17, 17, 17, 0.65);
		width: 100%;
		height: 100%;
		left: 0;
		top:0;
		position: absolute;
	}
	.section-header{
	    margin-bottom: 40px;
		.section-title{
			color: #fff;
		}
	}
	.inner{
	    max-width: 800px;
	    margin: auto;
	    color: #fff;
	}
}
.TAM008{
    padding: 100px 0;
	background: linear-gradient(180deg, #F9FCF7 0%, #E8F1E5 100%);
	.section-header{
	    margin-bottom: 70px;
		span{
			color: $btn-bd;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 25px;
		}
	}
	.counter{
		position: relative;
		&:after{
			content: "\f105";
		    font: normal normal normal 14px/1 FontAwesome;
		    position: absolute;
		    top: 45%;
		    right: -32px;
		    color : #99AAA0;
		    font-size: 20px;
		    display: none;
		}
		.item{
			text-align: center;
		    width: calc(100% / 4);
    		float: left;
			.count{
				font-size: 40px;
				color: $btn-bd;
				display: block;
    			margin-bottom: 15px;
			}
			>div{
				text-transform: uppercase;
			    margin-bottom: 80px;
			    position: relative;
			    &:after{
				    content: "\f111";
				    font: normal normal normal 14px/1 FontAwesome;
				    position: absolute;
				    top: 190%;
				    left: 50%;
				    color: #99AAA0;
				    transform: translateX(-50%);
			    }
			    &:before{
					content: '';
					width: 100%;
					height: 2px;
					display: block;
					background-color: #99AAA0;
					position: absolute;
				    top: 59px;
				    left: 0;
				    right: 0;	
				}
			}
			.note{
				display: block;
				font-size: 18px;
				color: #99AAA0;
			}
			&:first-child{
				&>div{
					position: relative;
					&:after{
						content: '';
					    background-image: url(../images/svg/gt.svg);
					    display: block;
					    height: 50px;
					    width: 50px;
					    background-size: cover;
					    background-repeat: no-repeat;
					    position: absolute;
					    top: 135%;
					    left: 50%;
					    transform: translateX(-50%);
					}
					
				}
			}
		}
	}
}


.scroll-overflow{
	position: absolute;
    height: 4px;
    width: 100%;
    background-color: transparent;
    top: 49%;
    z-index: 1;
	.line{
		width: calc(100% / 4);
		float: left;
		position: relative;
	    &:before{
    	    content: "\f111";
		    font: normal normal normal 14px/1 FontAwesome;
		    position: relative;
		    left: 48%;
		    top: -5px;
		    transform: translateX(-50%);
	    }
		i{
			transform: translateX(50%);
		}	
	}
	&:after{
        content: "\f105";
	    font: normal normal normal 14px/1 FontAwesome;
	    position: absolute;
	    right: -2px;
	    top: -11px;
	    font-size: 23px;
	    color: #111;
    }
    &:before{
	    content: '';
	    background-color: #111;
	    height: 3px;
	    width: 74%;
	    display: block;
	    position: absolute;
    	left: 152px;
    }
}


























