#contentmain {
  position: relative;
}
.grid-space-0 {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}
.bootstrap-select {
  & > .select {
    max-width: 100%;
    border: 1px solid $colorPrimary;
    border-radius: 100px;
    padding-left: 45px;
    font-size: 16px;
    background-image: url(../images/svg/down.svg);
    &:focus {
      outline: none !important;
    }
    .caret {
      display: none;
    }
  }
  .dropdown-menu > li > a {
    padding-left: 45px;
    font-size: 16px;
  }
}

.breadcrumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.space-breadcrumb {
  height: 110px;
}

.news_list {
  .list_select {
    margin-bottom: 45px;
    .btn-group {
      width: 260px;
    }
    &_title {
      color: $colorPrimary;
      font-size: 18px;
      font-weight: bold;
      margin-right: 30px;
    }
  }
  .item {
    margin-bottom: 30px;
    .thumb img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }
}

/*==============NEWS================*/

#contentmain.news {
  background-image: url(../images/bg-news-1.png), url(../images/bg-news-2.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-color: #F7F7F7;
}

#news_blog {
  margin-bottom: 65px;
  .blog_main {
    position: relative;
    img {
      object-fit: cover;
      height: 490px;
      width: 100%;
    }
    &_text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      padding: 20px 67px;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .blog_sidebar {
    .sidebar_block {
      &:not(:first-child) {
        padding-top: 26px;
      }
      &:not(:last-child) {
        border-bottom: 1px dashed #979797;
        padding-bottom: 26px;
      }
      &_img {
        height: 125px;
        width: 40%;
        float: left;
        padding-right: 15px;
        object-fit: cover;
      }
      &_content {
        width: 60%;
        float: left;
        padding-left: 15px;
      }
      &_meta {
        padding-bottom: 10px;
        border-bottom: 1px solid #979797;
        color: $colorPrimary;
        font-size: 14px;
        i {
          margin-right: 5px;
          font-size: 20px;
        }
      }
      &_date {
        margin-right: 20px;
      }
      &_title {
        font-size: 18px;
        color: $colorThirdary;
        padding-top: 10px;
        @include overflow;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        height: 90px;
        line-height: 27px;
        margin-bottom: 0;
      }
    }
  }
}

.pagination {
  padding-bottom: 65px;
  & > li > a {
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: $colorThirdary;
    font-size: 20px;
    margin-right: 5px;
    &:hover {
      color: $colorPrimary;
    }
  }
  & > .active > span {
    text-align: center;
    line-height: 36px;
    height: 36px;
    width: 36px;
    padding: 0;
    display: inline-block;
    border: 2px solid $colorPrimary;
    border-radius: 100% !important;
    color: $colorPrimary;
    font-weight: bold;
    background-color: transparent;
    font-size: 20px;
    margin-right: 5px;
    &:hover {
      background-color: $colorPrimary;
      border: 2px solid $colorPrimary;
    }
  }
}

/*==============NEWS DETAIL================*/

#detail_content {
  background-image: url(../images/bg-detail-2.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  .detail_content {
    &_title {
      font-size: 25px;
      color: $colorPrimary;
      font-weight: normal;
    }
    &_summary {
      font-weight: bold;
    }
    &_count {
      color: $colorPrimary;
      border-top: 1px dashed #979797;
      padding-top: 20px;
      margin-bottom: 50px;
      i {
        margin-right: 12px;
      }
      span {
        vertical-align: middle;
        margin-right: 20px;
      }
    }
    &_comment {
      h4 {
        font-size: 18px;
        text-transform: uppercase;
        color: $colorThirdary;
        margin-bottom: 22px;
      }
    }
  }
  .detail_sidebar {
    text-align: center;
    &_title {
      background-color: $colorThirdary;
      color: #fff;
      padding: 15px;
      text-transform: uppercase;
    }
    &_content {
      background-color: #f3f3f3;
      padding: 30px 0 40px;
    }
    .sidebar_service{
      padding-bottom: 20px;
      &_block {
        padding-bottom: 22px;
      }
      &_img {
        margin-bottom: 20px;
        a {
          display: inline-block;
          position: relative;
          &:hover .img-after {
            opacity: 1;
          }
        }
        img {
          border-radius: 10px;
          width: 295px;
          height: 222px;
          object-fit: cover;
        }
        .img-after {
          @include transition(0.3s);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
      &_title {
        display: block;
        font-size: 18px;
        color: $colorThirdary;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .block-video {
      width: 295px;
      height: 220px;
      margin: auto;
      border-radius: 10px;
      img {
        object-fit: cover;
      }
      .play-video span {
        width: 60px;
        height: 60px;
        i {
          line-height: 60px;
        }
      }
    }
  }
}

#news_list {
  margin-bottom: 55px;
}

#videoModal {
  .modal-dialog {
    width: 72vw;
    margin: 0 14vw;
    top: 50%;
    @include translateY(-50%);
  }
  .modal-body {
    height: calc(40.5vw );
  }
  .modal-header {
    padding: 10px 15px;
    .close {
      font-size: 35px;
      line-height: 20px;
    }
    .video_title {
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 1;
    }
  }
}

#detail_related {
  position: relative;
  padding: 100px 0;
  background-color: #F7F7F7;
  &:before {
    position: absolute;
    content: "";
    background-image: url(../images/bg-detail-1.png);
    background-repeat: no-repeat;
    bottom: -30%;
    width: 330px;
    height: 354px;
    left: 0;
    display: block;
    z-index: 2;
  }
}

/*==============SERVICE================*/

#service_list {
  padding-bottom: 100px;
  .six-slide {
    margin: 0 auto 100px;
    width: 86%;
    .item {
      text-align: center;
      color: #9B9B9B;
      font-size: 18px;
      font-family: 'Roboto Condensed', sans-serif;
      @include transition(0.3s);
      border-bottom: 3px solid transparent;

      &.active {
        color: $colorPrimary;
        border-bottom: 3px solid $colorPrimary;
      }
      a {
        display: block;
      }
    }
    .owl-nav {
      left: -8%;
      right: -8%;
    }
  }

  .owl-thumb-item {
    margin-bottom: 20px;
    border: 1px solid #99AAA0;
    &:not(.active) {
      border-color: #F3F3F3;
    }
  }
}

#service_technology {
  .tech_img-left {
    width: calc(100vw / 3);
  }
}