*{margin:0;padding:0; outline:none !important; }

a { @include transition(0.3s); color:inherit; text-decoration:none }
a:focus, a:hover {    color: $colorPrimary;    text-decoration: none;}

.i { font-style: italic;}
.entry-content a:not(.btn) {
	color: #4A90E2;
	&:hover { color: $colorPrimary; }
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-weight:600;margin:0 0 20px;line-height:normal;}
h1,.h1 { font-size: 43px; font-weight: 700; color: $colorPrimary; text-transform: uppercase; line-height: 60px;}
h2,.h2 { font-size: 32px}
h3,.h3 { font-size: 28px}
h4,.h4 { font-size: 23px}
h5,.h5 { font-size: 18px}
h6,.h6 { font-size: 100%}


ul{list-style: none;}

p { margin: 0 0 20px;}

ul ul,ol ol { margin-left: 15px;}
img {	max-width:100%;}

.maincontent a:not(.btn) { 
	color: $colorPrimary;
	&:hover { color: $colorSecondary; }
}

.container { position: relative; }
.row-section { padding:70px 0; margin:0;}
.ss-background { background-size: cover;}
.display-table{display:table;width:100%;height:100%}
.display-table .table-cell{display:table-cell;height:100%;width:100%;vertical-align:middle}
.max-830 { max-width: 830px; margin: 0 auto;}

.bg-white  { background-color: #fff;}

.uppercase {text-transform: uppercase;}


.table-mini-sidebar {
	display: table; width: 100%;
	.col_thumbnail_left {
	    width: 1%;
	    vertical-align: middle;
	    display: table-cell;
	    padding-right: 20px;
	}
	.col_thumbnail_right {
	    width: 1%;
	    vertical-align: middle;
	    display: table-cell;
	    padding-left: 20px;
	}	
	.col_text {
	    width: 100%;
	    display: table-cell;
	    vertical-align: middle;
	}
}
.div-mini-sidebar {
	overflow: hidden;
	.col_thumbnail_left {
	    float: left; padding-right: 20px;
	}
	.col_thumbnail_right {
	    float: right; padding-left: 20px;
	}	
	.col_text {
		display: block;
		overflow: hidden;
	}
}


::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}


// OWL

.owl-carousel {
	.owl-nav {
	    position: absolute;
	    top: 50%;
	    left: 0;
	    right: 0;
	    &>div {
	    	position: absolute;
	    	width:50px; 
	    	height: 50px; 
	    	line-height: 58px; 
	    	text-align: center;
	    	border-radius: 100%;
	    	color: #9B9B9B;
	    	font-size: 40px;
	    	@include transition(0.3s);
	    	@include translateY (-50%); 
	    	&:hover {  border-color: $colorPrimary;  color: $colorPrimary;} 
	    	i {  	
	    		line-height: inherit;  	
				display: block;
		    	width: 100%;
		    	height: 100%;
	    	    background-size: inherit;
			    background-position: center;
			    background-repeat: no-repeat;
	    	}

	    	&.owl-prev { 
	    		left: 0px ;
				.arrow-left{
					background-image: url(../images/svg/left.svg);
		    	}
	    	}
	    	&.owl-next { 
	    		right: 0px; 
				.arrow-right{
					background-image: url(../images/svg/right.svg);
		    	}
	    	}

	    }
	}
	&.nav20 {
		.owl-nav {

		    &>div {
		    	color: #fff; border-color: #fff;
		    	&.owl-prev { left: 20px }
		    	&.owl-next { right: 20px; }
		    	&:hover {   border-color: $colorPrimary; color: #fff;} 

		    }
		    
		}

	}

	.owl-dots {
		padding: 20px 0;
	    text-align: center;
	    &>div {
	    	display: inline-block;
			span {
			    width: 10px;
			    height: 10px;
			    margin: 0 6px;
			    display: block;
			    border: 1px solid #99AAA0;
			    -webkit-backface-visibility: visible;
			    transition: opacity .2s ease;
			    border-radius: 100%;
			    background-color: #99AAA0;
			}
			&.active, &:hover {
				span{
					background-color: transparent;
				}
				
			} 
	    } 
	}


    .owl-thumb-item img {   
        width: 150px;
        height: auto;
    }

    .owl-thumbs {
        position: absolute;
        bottom: 0;
        left: 0;
        display: table;
        width: 100%;
        text-align: center;
        padding: 5%;
    }

    .owl-thumb-item {
        display: table-cell;
        border: none;
        background: none;
        padding: 0;
        opacity: .4;
    }

    .owl-thumb-item.active {
        opacity: 1;
    } 


} 


.img-background { display: none !important; }
.section-background { position: relative; color: #fff; padding: 30px 0; background-position: center center; background-repeat: no-repeat; background-size: cover; -webkit-background-size: cover; }


.middle_img { 
	overflow: hidden; display: block; position: relative;
	&> img {position: absolute; min-width: 100%; min-height: 100%; width: auto; height: auto; max-width: none; top:50%; left: 50%;  @include translate(-50%,-50%)}
}

.row-label {
	font-weight: inherit;
	display: block; margin-bottom: 15px;
	.title { display: block; font-size: 18px; font-weight: 400; }
	.input { width: 100%;}
}

.widget {
	margin-bottom: 30px;
	&-title { font-size: 20px; padding: 10px 15px; line-height: 25px; text-transform: uppercase; }
}

.title-grey {font-weight: 700; font-size: 18px; color: #4A4A4A;}
a.title-grey {color:$colorPrimary;}

.title-b {
	font-weight: 500;
	i { color: $colorPrimary; display: inline-block; margin-right: 10px; }
}
.title-18 {
	font-weight: 500; font-size: 18px;  color: $colorPrimary; 
}

.bg-lazy  {
	position: relative; 
	&:before { 
		content: "\f110" !important; 
		position: absolute !important; 
		top: 50% !important; 
		left: 50% !important; 
		width: 50px !important; 
		height: 50px !important;
		margin: -25px 0 0 -25px !important;
		font-family: FontAwesome !important;
	    border-radius: 100% !important;
	    line-height: 50px !important;
	    text-align: center !important;
	    font-size: 38px !important;
	    opacity: 1 !important ;
	    background: none !important;		
	    -webkit-animation: loading 1.2s infinite ease-in-out both;
	    animation: loading 1.2s infinite ease-in-out both;
	}
}
.img-lazy  {
	background: #fff url(../images/loading.gif) no-repeat center center !important; background-size: 70px !important 
}
.bg-loaded {
	background-size: cover !important ; background-position: center center !important;
	
}

.top-desc-page {
	color: #4A4A4A;	font-size: 25px;	font-weight: 300;	line-height: 45px;	text-align: center;
	.btn { margin-top: 20px;}
}

//
//
//.modal-dialog { width: 945px;     max-width: 98%;}
//.modal-content {
//	border-radius: 0; padding: 50px;
//	.close {
//    position: absolute;
//    right: 50px;
//    top: 50px;
//    font-size: 30px;     z-index: 10;
//	}
//
//}


// Components and modules
@import "typography";
@import "buttons";
@import "form";

