.btn{
  padding: 5px 20px;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  &-main{
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid $colorThirdary;
    color: $colorThirdary;
    @include transition(0.2s);
    &:hover{
      background-color: $colorPrimary;
      color: #fff;
      border: 2px solid $colorPrimary;
      @include transition(0.2s);
    }
  }
  &-big{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    background-color: $colorThirdary;
    padding: 10px 20px;
    color: #fff;
    @include transition(0.2s);
    &:hover{
      color: #fff !important;
      background-color: $colorPrimary;
      @include transition(0.2s);
    }
  }
}


         