@mixin style-form{
  outline:medium none;
  padding:0;
  resize:none;
  padding-left: 10px;
  vertical-align:middle;  
  color: $colorLine;
  font-size:$btn_size;
  border-radius: 25px;
  border: none;
  border: 1px solid transparent;
  width: 100%;
  margin-bottom: 20px;
  @include transition(0.2s);
  &:hover, &:focus {
    border-color: $colorPrimary;
    background-color: #fff;
    @include transition(0.2s);

  }
}
.input {
  height:$btn;
  @include style-form;
  &-xs{    font-size:$btnXs_size ;  height:$btnXs; padding:0 ; }  
  &-sm{    font-size:$btnSm_size ;  height:$btnSm; padding:0 ; }  
  &-lg{    font-size:$btnLg_size ;  height:$btnLg;  padding:0 ; }
  &-xl{    font-size:$btnXl_size ;  height:$btnXl; padding:0 ;}   
}
.textarea{
  @include style-form;

}
input[type=file] { padding-top: 8px;}
textarea.input { padding-top: 10px;     line-height: normal;}

//input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="number"] { @extend .input-box; }  


textarea{background-color:#fff;border:1px solid #dcdcdc;outline:medium none;padding:0 10px}
input[type="radio"],input[type="checkbox"]{height:auto!important;width:auto!important;margin:0}


/* Select */

select {   
  height:$btn; padding:0 20px; font-size:$btn_size;  background-color:#fff;  
  border:1px solid  $btn_bd ; font-size: 16px; border-radius: 0;
  
}
select option { padding:5px;}

.select {
  -webkit-appearance: inherit; 
  appearance: inherit; 
  padding-right:35px;     
  background-image: url(../images/svg/down-arrow.svg);
  background-position: 92% 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 25px;
  font-size:$btn_size;
  width: 100%;
  margin-bottom: 20px;
}

.select-chosen {
   -webkit-appearance: inherit; appearance: inherit; padding-right:35px;     background: #fff url(../images/arrow-select.png) no-repeat right center;
  border: none; border-bottom: 1px solid $btn_bd; padding-left: 0 !important; width: 100%;   
}

.select-xl {font-size:$btnXl_size ;  height:$btnXl; padding-left:30px;}
.select-lg {font-size:$btnLg_size ;  height:$btnLg; padding-left: 25px;}
.select-sm {font-size:$btnSm_size ;  height:$btnSm; padding-left:15px;}
.select-xs {font-size:$btnXs_size ;  height:$btnXs; padding-left:10px;}

label.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;

  input {display:none;}
  &>span {
    position: absolute;  cursor: pointer;  top: 0;  left: 0;  right: 0;  bottom: 0; border: 1px solid #E6E6E6;   background-color: #fff;  
    @include transition(0.4s);
    &:before {
      position: absolute;      content: "";      height: 20px;      width: 20px;      left: 4px;      top: 4px;      
      background-color: #E6E6E6;   @include transition(0.4s);
    }
  }

    input:checked + span {
      background-color: $colorPrimary; border-color: $colorPrimary;
      &:before {    @include  translateX(100%); background-color: #fff;  }

    }



  &-text {
    width: 66px;
    &>span { 
      span { @include transition(0.2s); float: left; width: 50%; text-align: center; text-transform: uppercase; font-size: 11px; color: #59595B; line-height: 28px;}
      .on { text-align: right; opacity: 0;}
      .off { text-align: left;}

    }

    input:checked + span {
      &:before {    @include  translateX(36px);  }
      .on { opacity: 1; color: #fff; }
      .off { opacity: 0 }
    }


  }

  &-round {
    &>span {   border-radius: 30px;  }
    &>span:before {   border-radius: 50%;  }
  }
  &-round2 {
    &>span,  &>span:before {   border-radius: 3px;  }
  }  

 

}


label.checkbox {
  position: relative; 
  display: inline-block;
  padding-left: 30px;
  font-weight: normal;
  margin:  0 0 5px;
  input {display:none;}
  &>span {
    position: absolute;  cursor: pointer;  top: 3px;  left: 0; color: #fff;     line-height: 16px; font-size: 9px;
    width: 20px; height: 20px;  border: 2px solid #F0F0F0; border-radius: 3px; text-align: center; background-color: #fff;
    &:before {
      font-family: 'icomoon' !important;

    }
  }
  input:checked + span {
    border-color: $colorPrimary; background-color: $colorPrimary;
    &:before {    content: "\e908";  }
  }
  input:disabled + span {
    border-color: #F0F0F0 !important;
  }

  &:hover > span { border-color: $colorPrimary;}
}



label.radio {
  @extend label.checkbox;
  &>span { 
    border-radius: 100%;
    text-align: center; line-height: 20px;
    &:before {
      border-radius: 100%; width: 10px; height: 10px;     margin: 3px auto; background-color: #fff; display:block; content: "" !important;
    }
  }
  input:checked + span {
    border-color: $colorPrimary; background-color: #fff;
    &:before { background-color: $colorPrimary;   }
  }
}

select:hover::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
input:hover::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
    color: $colorPrimary;
}
select:hover:-moz-placeholder,
select:focus:-moz-placeholder,
textarea:hover:-moz-placeholder,
textarea:focus:-moz-placeholder,
input:hover:-moz-placeholder,
input:focus:-moz-placeholder {
    color: $colorPrimary;
}
select:hover::-moz-placeholder,
select:focus::-moz-placeholder,
textarea:hover::-moz-placeholder,
textarea:focus::-moz-placeholder,
input:hover::-moz-placeholder,
input:focus::-moz-placeholder {
    color: $colorPrimary;
}
select:hover:-ms-input-placeholder,
select:focus:-ms-input-placeholder,
textarea:hover:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
input:hover:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
    color: $colorPrimary;
}