
.menu-btn.overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70px;
    background: rgba(0,0,0,0.06);
    z-index: 10000;
    @include transition(0.3s);
    opacity: 0;
    visibility: hidden;
}




  

  







 /* End Reponsive Menu */


