#footer{
	background-image: url(../images/bg-footer.jpg);
    background-repeat: no-repeat;
    background-position: 100px 165%;
    background-size: contain;
    position: relative;
    padding-top: 80px;
    background-color: linear-gradient(180deg, #FFFFFF 0%, #EAEAEA 100%);
    &:before{
	    content: '';
	    background-image: url(../images/svg/bgwhite.png);
	    background-repeat: no-repeat;
	    background-position: top;
	    background-size: cover;
	    position: absolute;
	    top: -50px;
	    left: 0;
	    width: 100%;
    	height: 90px;
    }
    .sendform{
	    .section-header{
	    	text-align: center;
    	    margin-bottom: 50px;
	    	.title{
	    		font-size: 40px;
	    		color: $colorPrimary;
	    	}
	    	span{
	    		font-size: 20px;
	    		color: #8F8F8F;
	    	}
	    }	
	    	
    	form{
		    margin-bottom: 30px;
    		.item{
    			textarea{
    				width: 100%;
    				margin-bottom: 20px;
    				height: 106px;
    			}
    			button,
    			select,
    			input{
    				width: 100%;
    				margin-bottom: 20px;
    			}
    		}
    	}
    }
	
	.footer_content{
		.logo{
			margin-bottom: 40px;
			
		}
		
		@mixin text-footer{
			font-size: 16px;
			text-transform: uppercase;
			color: $colorPrimary;
		}
		.footer_menu{
			&-top{
			    margin-bottom: 20px;
				.item{
				    width: calc(100%/4);
    				float: left;
					&:nth-child(2){
						ul{
							li{
								&:nth-child(1){
									a{
										@include text-footer;
									}
								}
							}
						}
					}
					&:nth-child(4),
					&:nth-child(1){
						ul{
							li{
								a{
									@include text-footer;
								}
							}
						}
					}
					ul{
						li{
							a{
								display: block;
								padding-bottom: 5px;
							}
						}
					}
				}

			}
			p{
				font-size: 18px;
				color: $colorThirdary;
			    margin: 0;
			    padding: 20px 0;
			    border-bottom: 1px solid $colorLine;
			    border-top: 1px solid $colorLine;
			}
			span{
				color: $colorLine;
				font-size: 14px;
				display: block;
    			margin-top: 20px;
			}
			.btn{
				display: none;
				
			}
		}
	}
	.footer_bottom{
	    font-size: 13px;
	    color: #fff;
	    background-color: #202020;
	    text-align: center;
	    padding: 8px;
	    text-transform: capitalize;
	    margin-top: 100px;
	}
}