.max-width{
	max-width: 1170px;
	margin: auto;
}

#header{
	box-shadow: 0 0px 5px 2px #bababa;
	-webkit-box-shadow: 0 0px 5px 2px #bababa;
	-moz-box-shadow: 0 0px 5px 2px #bababa;
    padding: 10px 0 0;
    background-color: #fff;
    position: relative;
    z-index: 10;
	.logo{
		display: block;
    	float: left;
    	width: 20%;
    	
	}
	.topbar{
		width: 80%;
		float: left;
		&_top{
		    border-bottom: 1px solid #c0c0c0;
			&-left{
				float: left;
				.menu_top{
					margin-bottom: 0;
					line-height: 42px;
					>li{
						display: inline-block;
						>a{
							display: block;
							text-transform: uppercase;
							color: $colorThirdary;
							font-size: 18px;
					        padding: 5px 30px 5px 0;
						}
					}
				}
			}
			&-right{
			    padding-bottom: 10px;
				float: right;
				.hotline{
					color: $colorThirdary;
					font-size: 30px;
					font-weight: 600;
				    display: inline-block;
				    vertical-align: middle;
				    &:before{
			    	    content: '';
					    background-image: url(../images/svg/phoneicon.svg);
					    height: 40px;
					    width: 40px;
					    display: inline-block;
					    background-size: cover;
					    background-position: center;
					    background-repeat: no-repeat;
					    vertical-align: middle;
					    margin-right: 10px;
				    }
				    span{
				    	vertical-align: middle;
				    }
				}
				.languages{
					display: inline-block;
				    vertical-align: middle;
					span{
						font-size: 16px;
    					text-transform: uppercase;
    					color: $colorThirdary;
    					display: inline-block;
    					border: 2px solid $colorThirdary;
					    height: 35px;
					    width: 35px;
					    text-align: center;
					    line-height: 35px;
					    border-radius: 50%;
				        margin-left: 15px;
				        cursor: pointer;
				        @include transition(0.3s); 
				        &:hover{
				        	background-color: $colorPrimary;
				        	color: #fff;
				        	border: 2px solid $colorPrimary;
				        	@include transition(0.3s); 
				        }
					}
				}
			}
		}
		&_bottom{
			.menu_main{
				margin: 0;
				> li{
					display: inline-block;
					
					>a{
						display: block;
						font-size: 18px;
    					padding: 5px 23px 5px 0;
					    line-height: 40px;
					    position: relative;
						&:after{
							content: "\f0da";
						    font: normal normal normal 14px/1 FontAwesome;
						    padding-left: 10px;
						    width: 10px;
						    display: inline-block;
						    height: 5px;
						}
						&:before{
							content: '';
						    height: 5px;
						    width: 0;
						    background-color: #fff;
						    position: absolute;
						    bottom: -5px;
						    left: -10px;
						    z-index: 1;
						    visibility: hidden;
						    @include transition(0.3s); 
						}
					}
					>ul{
						display: none;
						position: absolute;
						width: 100%;
						left: -15px;
						background-color: rgba(17, 17, 17, 0.37);
						padding: 20px 320px;
						li{
							width: calc(100% / 4);
    						float: left;
    						a{
    							color: #fff;
							    display: block;
    							padding: 10px;
    							font-size: 16px;
    							&:hover{
    								color: #CDE7D6;
    								font-weight: 500;
    							}
    						}
						}
					}
					&:hover{
						>ul{
							display: block;
						}
						>a{
							color: $colorPrimary;
							&:before{
								visibility: visible;
								width: 100%;
								@include transition(0.3s); 	
							}
							&:after{
								content: "\f0d7";
							}
						}
					}
				}
			}
		}
	}
}

#wrap-slideshow{
    position: relative;
    z-index: 0;
	.bg-slide{
		padding-top: 41.7%;
	    background-size: cover !important;
	    background-position: center center !important;
	}
	&:after{
		content: '';
		background-image: url(../images/svg/bgwhite.png);
	    width: 100%;
	    position: absolute;
	    bottom: -3px;
	    height: 100px;
	    z-index: 999;
	}
}
.bg-loaded {
    background-size: cover !important;
    background-position: center center !important;
}
#slideshow{
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	.item{
		&:before{
			content: "";
		    display: block;
		    padding-top: 41.7%;
		}
	}
}
.fix-nav {
    z-index: 9999;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
	}
.menu-fixed{
    position: absolute;
    top: 114px;
    left: 0;
    z-index: 1;
	ul{
		li{
			display: table;
		    height: 85px;
		    width: 85px;
		    background-color: rgba(17, 17, 17, 0.6);
	       	border-bottom: 1px solid #ddd;
		    text-align: center;
		    position: relative;
			a{
			 	color: #fff;
				font-size: 14px;
			    display: table-cell;
				vertical-align: middle;
				@include transition(0.3s);
			    &:before{
			    	background-position: center;
				    background-repeat: no-repeat;
				    background-size: inherit;
				    height: 30px;
				    width: 30px;
				    display: block;
				    margin: 0 auto 3px;
			    }
			}
			&:nth-child(1){
				a{
					&:before{
						content: '';
						background-image: url(../images/svg/search.svg);
					}
				}
			}
			&:nth-child(2){
				a{
					&:before{
						content: '';
						background-image: url(../images/svg/dathen.svg);
					}
				}
			}
			&:nth-child(3){
				a{
					&:before{
						content: '';
						background-image: url(../images/svg/km.svg);
					}
				}
			}
			&:nth-child(4){
				a{
					&:before{
						content: '';
						background-image: url(../images/svg/bg.svg);
					}
				}
			}
			.box-search{
				position: absolute;
			    display: none;
				top: 10px;	
				height: 60px;
			    width: 260px;
				&:before{
				    content: '';
				    border-bottom: 8px solid transparent;
				    border-top: 8px solid transparent;
				    border-right: 12px solid #fff;
				    display: inline-block;
				    position: absolute;
				    top: 50%;
				    left: 0;
				    transform: translateY(-50%);
				}
				input{
				    height: 100%;
			    	width: 100%;
			        padding-left: 20px;
				    border-radius: 15px;
				    border: 0;
				    margin-left: 12px;
			        box-shadow: 1px 2px 10px -3px #666363;
		            -webkit-box-shadow: 1px 2px 10px -3px #666363;
	                -moz-box-shadow: 1px 2px 10px -3px #666363;
				}

			}
			&:hover{
				.box-search{
					display: block;
				}
				a{
					background-color: #fff;
					color: $colorThirdary;
					@include transition(0.2s);
				}
			}
		}
	}
}



@media (max-width: 1199px) {
  .showsubmenu{
    display: block;
  }
  #header {
    .menu-btn { display: block; }
    .topbar_bottom {
      position: fixed;
        top: 70px;
        right: 0;
        bottom: 0;
        width: 280px;
        @include translateX(100%);
        @include transition(0.4s);
        height: 100vh;
        float: none;
        padding:  0 !important;
        margin: 0 !important;
        background-color: #fff;
        z-index: 1000 !important;
        overflow: auto;
    }    
    .menu_main {
        float: none !important;
        overflow: auto;
        margin: 0;
        li { 
          display: block;
          float: none;
          border-top:1px solid #808080;
          margin: 0;
          height: auto;
          width: 100%;
          a {
             margin: 0; text-align: left;
             color: $colorThirdary;
            .text {    padding: 0;}
            .btnL, .btnR, &:before, &:after { display: none !important;}
          }

          &:first-child {
            border:none;
          }

          ul {
            display: block;
            left: 0 !important;
            @include transition(0s); 
            visibility: visible; 
            position: relative !important; 
            margin: 0 !important; 
            width: auto; 
            box-shadow:none; 
            opacity: 1; 
            padding: 0; 
            border: none;
            li { border-top: 1px solid #B3B3B3 !important;
              a { padding: 0 8px 0 25px; color: $colorThirdary;}

            }
          }     
          &[class*="parent"] {
              position: relative;
              .showsubmenu {      
                font-size: 26px;   z-index: 10;   position: absolute;    right: 0; width: 50px; height: 50px; display: block !important; line-height: 50px; text-align: center; font-family: FontAwesome;   
                   &:before {content:"\f107";}            
              }

            &.parent-showsub  .showsubmenu:before {     content: "\f106"; }
          }
        }
    }
    
    .topbar_bottom{
      .menu_main{
        &>li{
          &> ul{
            li{
                width: auto;
                float: none;
                a{
                  color: $colorThirdary;
                  display: block;
                }
            }
          }
        }
      }
    }
  }

  body.showMenu {

    .menu-btn.overlay { visibility: visible; opacity: 1; right: 280px;}

    #header {
      z-index: 1000;
      .menu-btn { 
        span { background: none !important;}
        &:after{
        transform:translateY(-12px) rotate(45deg);
        -webkit-transform:translateY(-12px) rotate(45deg);
        }
        &:before{
        transform:translateY(12px) rotate(-45deg);
        -webkit-transform:translateY(12px) rotate(-45deg);
      }
      }
      .topbar_bottom {
        transform: translateY(0);
          -webkit-transform: translateY(0);
          opacity: 1;
          visibility: visible;

      }
    }
  }   
 



}


.showsubmenu{
    display: none;
  }
  .menu-btn {
      display: inline-block;
      width: 42px;
      height: 42px;
      position: absolute; top: 50%; right: 10px; margin-top: -21px; 
      display: none;
      span {
        position: absolute;
        height: 2px; 
        background-color: $colorPrimary ;
        left: 5px;
        right: 5px;
        top: calc(50% - 1px);

        transition: transform 0s ease .2s-webkit-transform 0s ease .2s;    
      }

    &:before,
    &:after {
      position: absolute;
      height: 2px; 
      background-color: $colorPrimary ;
      left: 5px;
      right: 5px;
      content: "";
      transition: top .2s ease .2s,transform .2s ease 0s,-webkit-transform .2s ease 0s;
      
    }
    &:before{  top: 8px;}
    &:after {   top: calc(100% - 10px);  }


  }

.fix-body{
	.menu-fixed{
		position: fixed;
	}
}