@media (max-width: 1199px) {
 .welcome{
  display: none;
 }
 .bg-left:before,
 .menu-fixed{
  display: none;
 }
  #header{
    padding: 10px;
    .topbar_top{
      border-bottom: 0;
      &-left{
        display: none;
      }
      &-right{
        padding-bottom: 0;
        float: none;
        text-align: center;
        .languages{
          display: none;
        }
        .hotline{
          font-size: 20px;
          line-height: 60px;
          float: right;
          padding-right: 75px;
          &:before{
            height: 30px;
            width: 30px;
          }
        }
      }
    }
    .logo{
      width: 30%;
    }
    .topbar{
      width: 70%;
    }
  }
  
  .form-contact{
    .tab-form{
      .nav{
        li{
          a{
            font-size: 16px;
          }
        }
      }
    }
  }

  #ss-map0 {
    .item{
          margin: 0 3px;
    }
  }
}





@include res_only_tablet(){
  
  #header {
    .topbar_top{
      &-right{
        .hotline{
          line-height: 100px;
        }
      }
    }
  }
}

@include res_mobile_small(){
  #header {
    .topbar_top{
      &-right{
        .hotline{
          padding-right: 55px;
        }
      }
    }
  }
  .block-contact {
      .btn{
        display: none;
      }
    }
    .footer_menu{
      .btn{
        display: block !important;
        margin-top: 30px;
      }
    }
  
  #footer{
    .footer_content{
      .logo{
        display: block;
        text-align: center;
      }
      .footer_menu{
        &-top{
          .item{
              width: calc(100%/2);
          }
        }
        span,
        p{
          text-align: center;
        }
      }
    }
    .block-contact{
      margin-bottom: 30px;
    }
    .footer_bottom{
      margin-top: 50px;

    }
  }
  
  .form-contact{
    .tab-form{
      .nav{
        li{
            width: 100%;
            float: none;
        }
      }
      .tab-content{
        padding: 40px;
      }
      form{
        .btn{
          width: 100%;
        }
      }
    }
  }
  
  #ss-map0 {
    .item{
        float: none;
        .btn-group{
          width: 100%;
          margin-bottom: 10px;
        }
        .btn{
          width: 100%;
        }
    }
    
  }
  #ss-map{
      height: auto;
      margin-bottom: 0;
    .map_list{
      max-width: 100%;
      padding-right: 0;
      display: block;
      width: 100%;
    }
    .wrap-map{
      position: relative;
      left: 0;
    }
  }
  
  #tab-member {
    .nav{
      width: 100%;
    }
    .tab-content{
      width: 100%;
      padding: 15px !important;

    }
    li{
        a{
          &:after{
            display: none;
          }
        }
      }
  }
  
  .table-price{
    .list-price{
      .nav{
        li{
          width: 100%;
        }
      }
    }
  }
  
  // .home-service{
  //   .content{
  //     padding: 50px 50px 30px;
  //   }
  // }
}


@include res_991{
  .block-video{
    width: 100%;
    height: 400px;
    max-width: inherit;
  }
  .form-contact{
    .tab-form{
      margin-top: 20px;
    }
  }
  
  #tab-member{
    .tab-content{
      padding: 77px;
    }
  }
  
  .TAM006{
    .item{
      margin-bottom: 20px;
    }
  }
}





@media (min-width: 480px) and (max-width: 768px){
  .block-contact .btn {
      margin-top: 15px;
  }
  .footer_menu{
      margin-top: 25px;
  }

}



/* end tuyen */
@include res_991 {
  /*============NEWS=========*/
  #news_blog .blog_main {
    margin-bottom: 50px;
  }
  #news-detail {
    margin-bottom: 30px;
  }
  #videoModal {
    .modal-dialog {
      width: 96vw;
      margin: 0 2vw;
    }
    .modal-body {
      height: calc(54vw);
    }
  }
}

@include res_tablet_small {

}

@include res_mobile_small {
  /*============NEWS=========*/
  #news_blog {
    .blog_main img {
      height: 250px;
    }
    .blog_main_text {
      padding: 15px;
    }
    .blog_sidebar .sidebar_block_img {
      height: 100px;
    }
    .blog_sidebar .sidebar_block_title {
      -webkit-line-clamp: 2;
      height: 60px;
    }
    .blog_sidebar .sidebar_block_content {
      padding-left: 0;
    }
  }
  #news_list {
    margin-bottom: 0;
    .list_select_title {
      margin-right: 5px;
    }
    .list_select .btn-group {
      width: 70%;
    }
    .item .info {
      padding: 10px;
    }
    .item .thumb .overflow {
      left: 10px;
      right: 10px;
      bottom: 20px;
    }
  }
  .pagination {
    padding-bottom: 185px;
    margin-top: 0;
    padding-left: 10px;
  }
}