$colorPrimary: #89B263 ;
$colorSecondary: #E8F1E5 ;
$colorThirdary : #66554E;


// Text link colors
$colorLine: #99AAA0 ;
$fontPrimary: 'Roboto', sans-serif ;

// General colors
$colorBody: #4A4A4A ;
$fontWeightBody: 300;
$base_size:16px;


$btn : 45px;
$btn_pd : 30px;
$btn_size : 14px;
$btn_bd: #9B9B9B;
$btn_cl : #666;

$btnXl : $btn + 20;
$btnXl_pd : $btn_pd + 12;
$btnXl_size : $btn_size + 3;

$btnLg : $btn + 10;
$btnLg_pd : $btn_pd + 6;
$btnLg_size : $btn_size + 2;

$btnSm : $btn - 10;
$btnSm_pd : $btn_pd - 6;
$btnSm_size : $btn_size - 1;

$btnXs : $btn - 20;
$btnXs_pd : $btn_pd - 12;
$btnXs_size : $btn_size - 2;
